doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    - title = ["SDO6E Remote Desktop Services", "Home"]
    title=  title.join(" | ")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css", rel="stylesheet")
    link(rel="stylesheet", href="stylesheets/application.css")

    <!--[if lt IE 9]>
    script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
    script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    <![endif]-->

    noscript
      style(type="text/css") div.body {display:none;}

  body
    .container
      .header
        h3= title[0]
      .noscriptmsg
        div.alert.alert-danger(role="alert") Javascript must be enabled
      .body
        div
          if facilities.length < 1
            div.alert.alert-info(role="alert") No facilities configured. Please add details in
              code facilities.json
              = "on the server."

          else
            ul#facility-list
              each facility in facilities
                li
                  a.nooklink.disabled(href=facility.url, aria-disabled="true", tabindex="-1")
                    button.nooks.unknown.btn-lg.btn.btn-warning.disabled(name=facility.name, title="Unable to reach StudioSentry", disabled="disabled")
                      span #{facility.name}
              li
                span#disco-spacer
                input#disco(type="checkbox", data-toggle="toggle", data-onstyle="danger", data-on="Disconnect<br>Enable", data-off="Disconnect<br>Safe")


      #log
        h4 Activity Log
        #log-area
          textarea#log-window(readonly="readonly")
          label.btn.btn-default#copy-btn(title="Copy to clipboard" for="log-window")
            i.glyphicon.glyphicon-copy

      #info
        p.
          Made with #[a(href="//nodejs.org") Node.js], #[a(href="//jquery.com") jQuery],
          #[a(href="//pugjs.org") Pug], and #[a(href="//getbootstrap.com") Bootstrap]
          - #[a(href="//nbcunicareers.com") NBCUniversal] in Dec-2017
    script(type="text/javascript", src="//code.jquery.com/jquery-2.2.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(type="text/javascript", src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
    script(type="text/javascript", src="javascripts/application.js")
